$themes: (
  light: (
    bodyBackgroundColor: #f8f8fa,
    headerFooterBackground: #fff,
    textColor: #000,
    toggleBackground: #14059c,
    borderColor: #e2e2e2,
    lightColor: #fff,
    darkColor: #2d2c2e,
    filterColor: 0
  ),
  dark: (
    bodyBackgroundColor: #141b2d,
    headerFooterBackground: #1f2a40,
    textColor: #eff2f7,
    toggleBackground: #f59504,
    borderColor: #585858,
    lightColor: #fff,
    darkColor: #2d2c2e,
    filterColor: 1

    // bodyBackgroundColor: #2d2c2e,
    // headerFooterBackground: #292524,
    // textColor: #eff2f7,
    // toggleBackground: #f59504,
    // borderColor: #585858,
    // lightColor: #fff,
    // darkColor: #2d2c2e,,,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
